<div class="container">
    <form class="container-login">
        <label for="username" class="container-input-username">
            Usuário
            <input type="text" [(ngModel)]="username" name="username" class="input-username" id="username"
                placeholder="Insira seu nome de usuário">
        </label>
        <label for="password" class="container-input-password">
            Senha
            <input type="password" [(ngModel)]="password" name="password" class="input-password" id="password"
                placeholder="Insira sua senha">
        </label>
        <button (click)="login()">
            Login
        </button>
        <p class="invalid-credentials-message" *ngIf="invalidCredentialsMessage">Usuário ou senha inválidos</p>
    </form>
</div>