<div class="container">
    <form class="container-login">
        <label for="username" class="container-input-username">
            Usuário
            <input type="text" class="input-username" id="username" placeholder="Insira seu nome de usuário">
        </label>
        <label for="password" class="container-input-password">
            Senha
            <input type="text" class="input-password" id="password" placeholder="Insira sua senha">
        </label>
        <button>
            Login
        </button>
    </form>
</div>