<div class="container">
    <h2>Tempo de Resposta para URL</h2>
    <form>
        <label for="url-search">
            <h3>URL</h3>
            <input type="text" class="input-url-search" [(ngModel)]="url" name="url" id="url-search"
                placeholder="Insira a URL">
        </label>
        <button (click)="searchTypedUrl()" class="button-search">
            Pesquisar
        </button>
    </form>
    <table>
        <thead>
            <tr>
                <th>URL Pesquisada</th>
                <th>Houve Resposta?</th>
                <th>Tempo de resposta / falha</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ displayedResponseData.url }}</td>
                <td>{{ displayedResponseData.responded }}</td>
                <td>{{ displayedResponseData.responseTime }}</td>
            </tr>
        </tbody>
    </table>
    <h3>Histórico de pesquisa:</h3>
    <ul>
        <li *ngFor="let url of searchedUrls" (click)="searchSavedUrl($event)">
            {{ url }}
        </li>
    </ul>
    <button class="logout-button" (click)="onLogout()">Logout</button>
</div>